@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    
    display: grid;
    color: white;
    font-weight: bold; 
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}