@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.container{
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    
    background: rgb(192,190,224);
    background: linear-gradient(180deg, rgba(192,190,224,1) 0%, rgba(3,149,235,1) 100%);
    border-radius: 10px;
}
.nav{
    width: 98%;
    height: 90%;
    
}
.title{
    float:left;
    margin: auto;
    margin-left:15px;
    
}
select{
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom:5px;

    padding-right: 100px;
}
body{
    width:98%;
    
}
.wrapper{
    height:100%;
    background-color:grey;
    padding-top: 10px;
}
.title-2{
    background: rgb(249,185,105);
    background: linear-gradient(180deg, rgba(249,185,105,1) 0%, rgba(240,149,5,1) 40%);
    width: 99%;
    margin-top:5px;
    margin-bottom:0px;
    margin-right:0px;
    min-height: 30px;
    border-radius: 10px 10px 0px 0px ;
    font-weight:bold;
    font-size:15px;
    padding-left: 10px;
}
.page-container{
    border: 1px solid blue;
    border-top:1px solid orange;
    min-height: 50%;
    background-color:white;
    border-radius: 0px 0px 10px 10px;

}
.page-content-wrapper{
    height:100%;
    border: 1px solid blue;
    margin: 5px;
    margin-top: 2px;
    padding:10px;
    padding-top:0px;
    background-color:lightgrey;



}
.page-content-header{
    background: rgb(249,185,105);
background: linear-gradient(180deg, rgba(249,185,105,1) 0%, rgba(240,149,5,0.597667638483965) 40%);
    min-height: 30px;
    margin-top: 0px;
    padding:0px;
    height:100%;
    border-radius: 10px 10px 0px 0px ;

}

.page-content-tablecontent{
    overflow-y: scroll;
    max-height:600px;
    border: 1px solid grey;
}
table{
    width:100%;
    background-color:white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(1) {
    background-color: lightgrey;
    height:50px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 12px;
}
